@import "tailwindcss";
@theme {
  --animate-scroll: scroll 80s linear infinite;
  @keyframes scroll {
    0% {
      transform: translateX(0%)
    }
    100% {
      transform: translateX(-50%)
    }
  }
}
:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

